<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <ServerIP>10.84.104.172</ServerIP>
  <!--The port the server will be listening for connections on.-->
  <ServerPort>1490</ServerPort>
  <!--The port the client will connect to.  Used in case we are using a proxy server.  If not using a proxy, set this equal to ServerPort-->
  <ClientPort>1490</ClientPort>
  <ServerEmail>jenkins@grow.am</ServerEmail>
  <ServerEmailUsername>jenkins@grow.am</ServerEmailUsername>
  <ServerEmailPassword>Sdd%3UH&amp;!</ServerEmailPassword>
</Root>