<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <RepositoryURL>https://github.com/AlanWills/CelesteEnginePlus.git</RepositoryURL>
  <ServerIP>192.168.0.25</ServerIP>
  <!--The port the server will be listening for connections on.-->
  <ServerPort>1490</ServerPort>
  <!--The port the client will connect to.  Used in case we are using a proxy server.  If not using a proxy, set this equal to ServerPort-->
  <ClientPort>1490</ClientPort>
  <ServerEmail></ServerEmail>
  <ServerEmailUsername></ServerEmailUsername>
  <ServerEmailPassword></ServerEmailPassword>
</Root>